div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	-ms-transform: scale(0.33333333333333331482961625624739099293947219848633);
	-moz-transform: scale(0.33333333333333331482961625624739099293947219848633);
	-webkit-transform: scale(0.33333333333333331482961625624739099293947219848633);
	transform: scale(0.33333333333333331482961625624739099293947219848633);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	pointer-events: none;
}


div#obj39 {
position: absolute;
overflow: hidden;
top: 112px;
left: 642px;
width: 522px;
height: 657px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj39_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 522px;
	height: 657px;
}
div#obj1080 {
position: absolute;
overflow: hidden;
top: 30px;
left: 1105px;
width: 128px;
height: 108px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;
-webkit-transform: rotate(9.914485deg);
-moz-transform: rotate(9.914485deg);
transform: rotate(9.914485deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1080_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 108px;
}

div#obj41 {
position: absolute;
overflow: hidden;
top: 206px;
left: 156px;
width: 402px;
height: 485px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj41_content {
}
button#obj590 {
	position: absolute;
overflow: hidden;
top: 20px;
left: 20px;
width: 128px;
height: 91px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 0px;
	border-style: solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #71C6EA;
	font-family:"Waterford No 3";
	font-size: 20px;
	color: #FFFFFF; 
}
button#obj590:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj585 {
	position: absolute;
overflow: hidden;
top: 20px;
left: 20px;
width: 128px;
height: 91px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 0px;
	border-style: solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #CCD5DA;
	font-family:"Waterford No 3";
	font-size: 20px;
	color: #FFFFFF; 
}
button#obj585:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj595 {
	position: absolute;
overflow: hidden;
top: -144px;
left: 167px;
width: 128px;
height: 91px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 0px;
	border-style: solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #FFA634;
	font-family:"Waterford No 3";
	font-size: 20px;
	color: #FFFFFF; 
}
button#obj595:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj598 {
	position: absolute;
overflow: hidden;
top: -144px;
left: 314px;
width: 128px;
height: 91px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	border-color: #BFBFBF;
	border-width: 0px;
	border-style: solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #FFA634;
	font-family:"Waterford No 3";
	font-size: 20px;
	color: #FFFFFF; 
}
button#obj598:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }




audio#obj689 {
position: absolute;
overflow: hidden;
top: 14px;
left: -285px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}






body {
font-family: "Waterford No 3";
font-size: 22px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
/*
Styles imported from InDesign document "lorenzos-llama-ebook-update.indd"
7/3/23 3:43 PM
*/
div.Image-frame {
	border-style:solid;
	background-color:#ffffff;
	border-radius:12px 12px 12px 12px;
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate p.ParaOverride-1 {
	white-space: nowrap; 
}
.SCIdFxlObj3_lorenzosllamaebookupdate p.ParaOverride-1 {
	line-height: 1;
	white-space: inherit
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-1 {
	font-size: 320px; 
}
.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-1 {
	color: #000000;
	font-family: "Waterford No 3", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-2 {
	font-size: 440px; 
}
.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-2 {
	color: #000000;
	font-family: "Waterford No 3", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: normal
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-3 {
	font-size: 440px; 
}
.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-3 {
	color: #000000;
	font-family: "Waterford No 3", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-4 {
	font-size: 240px; 
}
.SCIdFxlObj3_lorenzosllamaebookupdate span.CharOverride-4 {
	color: #000000;
	font-family: "Waterford No 3", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer000 {
	-webkit-transform: translate(429.608px,61.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 186.00px;
	left: -429.608px;
	position: absolute;
	top: -61.000px;
	transform: translate(429.608px,61.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 420.78px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer001 {
	-webkit-transform: translate(78.000px,742.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 62.59px;
	left: -78.000px;
	position: absolute;
	top: -742.409px;
	transform: translate(78.000px,742.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 1124.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer002 {
	-webkit-transform: translate(78.000px,851.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 20.68px;
	left: -78.000px;
	position: absolute;
	top: -851.315px;
	transform: translate(78.000px,851.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 1124.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer003 {
	-webkit-transform: translate(850.392px,273.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 432.74px;
	left: -850.392px;
	position: absolute;
	top: -273.000px;
	transform: translate(850.392px,273.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 415.78px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer004 {
	-webkit-transform: translate(1165.470px,78.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 464.71px;
	left: -1165.470px;
	position: absolute;
	top: -78.000px;
	transform: translate(1165.470px,78.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 1050.94px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer005 {
	-webkit-transform: translate(400.000px,561.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 235.59px;
	left: -400.000px;
	position: absolute;
	top: -561.409px;
	transform: translate(400.000px,561.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 687.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer006 {
	-webkit-transform: translate(1202.000px,77.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 497.02px;
	left: -1202.000px;
	position: absolute;
	top: -77.999px;
	transform: translate(1202.000px,77.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 1124.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer007 {
	-webkit-transform: translate(400.000px,612.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 175.75px;
	left: -400.000px;
	position: absolute;
	top: -612.245px;
	transform: translate(400.000px,612.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 562.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer008 {
	-webkit-transform: translate(282.000px,192.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 649.37px;
	left: -282.000px;
	position: absolute;
	top: -192.999px;
	transform: translate(282.000px,192.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 1033.95px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer009 {
	-webkit-transform: translate(156.000px,146.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 321.59px;
	left: -156.000px;
	position: absolute;
	top: -146.409px;
	transform: translate(156.000px,146.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 685.50px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer010 {
	-webkit-transform: translate(88.367px,77.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 788.81px;
	left: -88.367px;
	position: absolute;
	top: -77.999px;
	transform: translate(88.367px,77.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 583.63px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer011 {
	-webkit-transform: translate(697.577px,311.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 234.75px;
	left: -697.577px;
	position: absolute;
	top: -311.245px;
	transform: translate(697.577px,311.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 472.42px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer012 {
	-webkit-transform: translate(442.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 867.48px;
	left: -442.000px;
	position: absolute;
	top: 0.001px;
	transform: translate(442.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 824.72px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer013 {
	-webkit-transform: translate(156.000px,147.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 418.25px;
	left: -156.000px;
	position: absolute;
	top: -147.245px;
	transform: translate(156.000px,147.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 687.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer014 {
	-webkit-transform: translate(1253.320px,322.833px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 510.17px;
	left: -1253.320px;
	position: absolute;
	top: -322.833px;
	transform: translate(1253.320px,322.833px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 825.32px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer015 {
	-webkit-transform: translate(136.000px,136.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 331.75px;
	left: -136.000px;
	position: absolute;
	top: -136.245px;
	transform: translate(136.000px,136.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 402.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer016 {
	-webkit-transform: translate(660.000px,112.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 657.00px;
	left: -660.000px;
	position: absolute;
	top: -112.500px;
	transform: translate(660.000px,112.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 504.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer017 {
	-webkit-transform: translate(722.000px,254.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 399.75px;
	left: -722.000px;
	position: absolute;
	top: -254.245px;
	transform: translate(722.000px,254.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 402.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer018 {
	-webkit-transform: translate(1163.500px,110.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 657.00px;
	left: -1163.500px;
	position: absolute;
	top: -110.000px;
	transform: translate(1163.500px,110.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 522.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer019 {
	-webkit-transform: translate(156.000px,205.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 495.75px;
	left: -156.000px;
	position: absolute;
	top: -205.245px;
	transform: translate(156.000px,205.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 402.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer020 {
	-webkit-transform: translate(338.000px,213.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 644.23px;
	left: -338.000px;
	position: absolute;
	top: -213.269px;
	transform: translate(338.000px,213.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 923.08px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer021 {
	-webkit-transform: translate(156.000px,147.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 289.75px;
	left: -156.000px;
	position: absolute;
	top: -147.245px;
	transform: translate(156.000px,147.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 456.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer022 {
	-webkit-transform: translate(640.301px,27.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 736.00px;
	left: -640.301px;
	position: absolute;
	top: -27.000px;
	transform: translate(640.301px,27.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 564.60px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer023 {
	-webkit-transform: translate(700.422px,312.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 289.75px;
	left: -700.422px;
	position: absolute;
	top: -312.245px;
	transform: translate(700.422px,312.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 456.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer024 {
	-webkit-transform: translate(1197.697px,217.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 472.68px;
	left: -1197.697px;
	position: absolute;
	top: -217.000px;
	transform: translate(1197.697px,217.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 603.28px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer025 {
	-webkit-transform: translate(138.422px,360.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 233.75px;
	left: -138.422px;
	position: absolute;
	top: -360.245px;
	transform: translate(138.422px,360.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 456.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer026 {
	-webkit-transform: translate(444.000px,125.132px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 678.87px;
	left: -444.000px;
	position: absolute;
	top: -125.132px;
	transform: translate(444.000px,125.132px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 776.19px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer027 {
	-webkit-transform: translate(156.000px,147.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 459.75px;
	left: -156.000px;
	position: absolute;
	top: -147.245px;
	transform: translate(156.000px,147.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 456.00px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer028 {
	-webkit-transform: translate(731.999px,67.329px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin: 0% 0%;
	height: 747.34px;
	left: -731.999px;
	position: absolute;
	top: -67.329px;
	transform: translate(731.999px,67.329px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin: 0% 0%;
	width: 733.15px
}
.SCIdFxlObj.SCIdFxlObj3_lorenzosllamaebookupdate._idContainer029 {
	-webkit-transform: translate(746.000px,252.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin: 0% 0%;
	height: 459.75px;
	left: -746.000px;
	position: absolute;
	top: -252.245px;
	transform: translate(746.000px,252.245px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin: 0% 0%;
	width: 456.00px
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}

.SCPage {
background-color: #FFFFFF
}
